@using NukeShop.BLL.DTOs;
@model PagingResponse<ProductDto>



@if (Model.MetaData.TotalCount > 0)
{
    @foreach (var p in Model.Items)
    {
        <div class="col">
            <div class="card h-100 product-card">
                <a asp-action="Product" asp-controller="Home" asp-route-id="@p.Id">
                    <img src="data:image/jpg;base64, @Convert.ToBase64String(@p.Photo)" width="240" height="240" class="card-img-top" alt="@p.Name">
                    <div class="card-body">                   
                        <h5 class="card-title fw-light">@p.ManufacturerName @p.Name</h5>
                        <h4 class="card-text fw-normal">@p.Price.ToString("C")</h4>
                        <p class="card-text fw-light">@p.CategoryName</p>
                    </div>
                </a>
            </div>
        </div>
    }
}
else
{
    <div>Nothing found =(</div>
}
